<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985000315985-k55meo76tjqohh8ig0ufrprctmuvue3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985000315985-k55meo76tjqohh8ig0ufrprctmuvue3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCeSrVrb7Y0drbMzDLfM12ciAAFRLx8SgI</string>
	<key>GCM_SENDER_ID</key>
	<string>985000315985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iskcon.sahamo</string>
	<key>PROJECT_ID</key>
	<string>fir-be6ce</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-be6ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985000315985:ios:808be20fc79a59e2517c70</string>
</dict>
</plist>